
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gallery - Items List</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Items for Sale</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
        <table>
        <tr><th>Photo</th><th>Item Name</th><th>Selling Price</th></tr>
        {{#each records}}
          <tr>
            <td><img src="avatars/{{this.photo}}" /></td>
            <td>{{this.itemname}}</td>
            <td>{{this.sellingprice}}</td>
          </tr>
        {{/each}}
        </table>
        </main>
        <a class="add" href="/gallery/add">Add New Selling Item</a>
	</body>
</html>
